<!-- index.html -->
{% load static %} 

<!DOCTYPE html>
<html>
    <head>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <title>My TV Time</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mytvtime/css/style.css' %}">

    </head>
    <body>
        <h1 class="h1-home">My TV Time</h1>
        <div class="user-actions">
            {% if request.user.is_authenticated %}
                <span>Welcome, {{ request.user.username }}!</span>
                <a href="javascript:void(0);" onclick="handleLogout()">Logout</a>
            {% else %}
                <a href="{% url 'mytvtime:login' %}">Login</a>
                <a href="{% url 'mytvtime:register' %}">Register</a>
            {% endif %}
        </div>
        <form class="search-box" action="{% url 'mytvtime:search_results' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search_query" placeholder="Seach for a TV show">
            <button type="submit">Search</button>
        </form>
        
        <div id="root"></div>
        <script>
            function handleLogout() {
                sessionStorage.removeItem("shows");
                localStorage.removeItem('watchingShowsData');
                localStorage.removeItem('watchingShowsTime');
                window.location.href = "{% url 'mytvtime:logout' %}";
            }
        </script>    
        <script type="text/babel">
            class WatchingShows extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = {
                        watchingShows: [],
                        isLoading: true,
                        isAuthenticated: true,
                    };
                }
                componentDidMount() {
                    // Send GET request when component mounts.
                    const savedData = JSON.parse(localStorage.getItem('watchingShowsData'));
                    const savedTime = localStorage.getItem('watchingShowsTime');
                    const currentTime = new Date().getTime();
                    const oneHour = 60 * 60 * 1000; // One hour in milliseconds
                    // Use the saved data if it's less than an hour old
                    if (savedData && savedTime && currentTime - savedTime < oneHour) {
                        this.setState({
                            watchingShows: savedData,
                            isLoading: false,
                        });
                    } else {
                        // Otherwise, fetch new data from the server
                        axios.get('/mytvtime/get_watching_shows/')
                            .then(res => {
                                if (res.data.unauthenticated) {
                                    this.setState({
                                        isLoading: false,
                                        isAuthenticated: false,
                                    });
                                } else {
                                    // Sort the shows by the days and hours until the next episode.
                                    const watchingShows = res.data.watching_shows.sort((a, b) => {
                                        const hoursUntilNextEpisodeA = a.days * 24 + a.hours;
                                        const hoursUntilNextEpisodeB = b.days * 24 + b.hours;
                                        // Use Infinity as a placeholder for shows with no next episode info
                                        return (hoursUntilNextEpisodeA || Infinity) - (hoursUntilNextEpisodeB || Infinity);
                                    });

                                    this.setState({
                                        watchingShows,
                                        isLoading: false,
                                    });

                                    // Save the new data and the current time
                                    localStorage.setItem('watchingShowsData', JSON.stringify(watchingShows));
                                    localStorage.setItem('watchingShowsTime', currentTime.toString());
                                }
                            
                            });
                    }
                }
                handleDelete(id) {
                    // Get CSRF token
                    let csrftoken = getCookie('csrftoken');
                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    axios({
                        method: 'post',
                        url: '/mytvtime/remove_from_watchlist/',
                        data: {
                            trakt_id: id
                        },
                        headers: {"X-CSRFToken": csrftoken}
                    }).then(res => {
                        if (res.data.status === 'success') {
                            this.setState(prevState => ({
                                watchingShows: prevState.watchingShows.filter(show => show.trakt !== id)
                            }), () => {
                                const currentTime = new Date().getTime();
                                localStorage.setItem('watchingShowsData', JSON.stringify(this.state.watchingShows));
                                localStorage.setItem('watchingShowsTime', currentTime.toString()); // 新增这一行
                            });
                        } else {
                            alert('Could not delete show');
                        }
                    });
                }
                
                render() {
                    if (this.state.isLoading) {
                        return (
                            <div>
                                <p>Loading...</p>
                            </div>
                        );
                    } else if (!this.state.isAuthenticated) {
                        // If user is not authenticated, display a message prompting to log in.
                        return (
                            <div>
                                <p>You must be logged in to see your list of shows. 
                                <a href="/mytvtime/login">Log in</a> or <a href="/mytvtime/register">register</a> now.</p>
                            </div>
                        );
                    } else {
                        return (
                            <div className="watching-show-list-container">
                                <ul className="watching-show-list">
                                    {this.state.watchingShows.map(show =>
                                        <li key={show.title} className="watching-show-item">
                                            <h2>{show.title}</h2>
                                            {show.days != null && show.hours != null ? (
                                                <div>
                                                    <p>Season: {show.season} Episode: {show.episode}</p>
                                                    <p>Airs in {show.days} days {show.hours} hours</p>
                                                </div>
                                            ) : (
                                                <p>{show.status}</p>
                                            )}
                                            <button className="delete-button"onClick={() => this.handleDelete(show.ids.trakt)}>Delete</button>
                                        </li>
                                    )}
                                </ul>
                            </div>
                        );
                    }
                }
            }
            
            ReactDOM.render(
                <WatchingShows />,
                document.getElementById('root')
            );
        </script>
    </body>
</html>
