<!-- index.html -->
{% load static %} 

<!DOCTYPE html>
<html>
    <head>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

        <title>My TV Time</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mytvtime/css/style.css' %}">
    </head>
    <body>
        <h1 class="h1-home">My TV Time</h1>
        <div id="url-data" style="display: none;"
            data-logout-url="{% url 'mytvtime:logout' %}"
            data-login-url="{% url 'mytvtime:login' %}"
            data-register-url="{% url 'mytvtime:register' %}"
            data-search-results-url="{% url 'mytvtime:search_results' %}">
        </div>
        <div class="user-actions">
            {% if request.user.is_authenticated %}
                <span>Welcome, {{ request.user.username }}!</span>
                <a href="javascript:void(0);" onclick="handleLogout()">Logout</a>
            {% else %}
                <a href="{% url 'mytvtime:login' %}">Login</a>
                <a href="{% url 'mytvtime:register' %}">Register</a>
            {% endif %}
        </div>
        <div id="auth-status" style="display: none;">{% if request.user.is_authenticated %}true{% else %}false{% endif %}</div>
        <form class="search-box" action="{% url 'mytvtime:search_results' %}" method="post">
            {% csrf_token %}
            <input type="text" name="search_query" placeholder="Seach for a TV show">
            <button type="submit">Search</button>
        </form>
        
        {% verbatim %}
        <div id="root"></div>
        <script>
            function handleLogout() {
                const urlDataElement = document.getElementById('url-data');
                const logoutUrl = urlDataElement.getAttribute('data-logout-url');
                sessionStorage.removeItem("shows");
                localStorage.removeItem('watchingShowsData');
                localStorage.removeItem('watchingShowsTime');
                
                window.location.href = logoutUrl;
            }
        </script> 
        <script type="text/babel">
            class WatchingShows extends React.Component {
                constructor(props) {
                    super(props);
                    this.state = {
                        watchingShows: [],
                        isLoading: true,
                        isAuthenticated: false,
                    };
                }

                componentDidMount() {
                    const urlDataElement = document.getElementById('url-data');
                    const loginUrl = urlDataElement.getAttribute('data-login-url');
                    const registerUrl = urlDataElement.getAttribute('data-register-url');
                    const searchResultsUrl = urlDataElement.getAttribute('data-search-results-url');
                    const authStatusElement = document.getElementById('auth-status');
                    const isAuthenticated = authStatusElement.textContent === 'true';

                    this.setState({ 
                        loginUrl,
                        registerUrl,
                        searchResultsUrl,
                        isAuthenticated: isAuthenticated });

                    if (!isAuthenticated) {
                        this.setState({ isLoading: false });
                        return;
                    }

                    axios.get('/mytvtime/get_watching_shows/')
                        .then(res => {
                            const watchingShows = res.data.watching_shows ? res.data.watching_shows.sort((a, b) => {
                                const hoursUntilNextEpisodeA = a.days * 24 + a.hours;
                                const hoursUntilNextEpisodeB = b.days * 24 + b.hours;
                                return (hoursUntilNextEpisodeA || Infinity) - (hoursUntilNextEpisodeB || Infinity);
                            }) : [];

                            this.setState({
                                watchingShows,
                                isLoading: false,
                            });

                            localStorage.setItem('watchingShowsData', JSON.stringify(watchingShows));
                            localStorage.setItem('watchingShowsTime', new Date().getTime().toString());
                        })
                        .catch(error => {
                            console.error(error);
                            this.setState({
                                isLoading: false,
                                hasError: true,
                            });
                        });
                }

                handleDelete(id) {
                    let csrftoken = getCookie('csrftoken');
                    function getCookie(name) {
                        let cookieValue = null;
                        if (document.cookie && document.cookie !== '') {
                            const cookies = document.cookie.split(';');
                            for (let i = 0; i < cookies.length; i++) {
                                const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }

                    axios({
                        method: 'post',
                        url: '/mytvtime/remove_from_watchlist/',
                        data: {
                            trakt_id: id
                        },
                        headers: {"X-CSRFToken": csrftoken}
                    }).then(res => {
                        if (res.data.status === 'success') {
                            this.setState(prevState => ({
                                watchingShows: prevState.watchingShows.filter(show => show.trakt !== id)
                            }), () => {
                                localStorage.setItem('watchingShowsData', JSON.stringify(this.state.watchingShows));
                            });
                        } else {
                            alert('Could not delete show');
                        }
                    });
                }

                render() {
                    if (this.state.isLoading) {
                        return (
                            <div>
                                <p>Loading...</p>
                            </div>
                        );
                    } 

                    if (!this.state.isAuthenticated) {
                        return (
                            <div>
                                <p>You must be logged in to see your list of shows. 
                                <a href={this.state.loginUrl}>Log in</a> or <a href={this.state.registerUrl}>register</a> now.</p>
                            </div>
                        );
                    }

                    if (this.state.isAuthenticated) {
                        return (
                            <div className="watching-show-list-container">
                                <ul className="watching-show-list">
                                    {this.state.watchingShows.map(show =>
                                        <li key={show.title} className="watching-show-item" style={{
                                            backgroundImage: show.poster_url ? `url(${show.poster_url})` : 'none'}}>
                                            <h2>{show.title}</h2>
                                            {show.days != null && show.hours != null && show.minutes != null ? (
                                                <div>
                                                    <p>Season: {show.season} Episode: {show.episode}</p>
                                                    <p>Airs in {show.days} days {show.hours} hours {show.minutes} minutes</p>
                                                </div>
                                            ) : (
                                                <div>
                                                <p>{show.status}</p>
                                                </div>
                                            )}
                                            <button className="delete-button"onClick={() => this.handleDelete(show.trakt)}>Delete</button>
                                        </li>
                                    )}
                                </ul>
                            </div>
                        );
                    }
                }
            }

            ReactDOM.render(
                <WatchingShows />,
                document.getElementById('root')
            );
        </script>
        {% endverbatim %}
    </body>
</html>
