.h1-home {
    text-align: center; 
}

.body-home-page {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    padding-top: 2.5em;
    margin: 0;
}

/* login, register button (right top page) */
.user-actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-actions span {
    margin-right: 10px;
    font-size: 16px;
    color: #333;
}

.user-actions a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(to right, #fafafa, #e6e6e6);
    transition: background 0.3s ease;
}

.user-actions a:hover {
    background: linear-gradient(to right, #e6e6e6, #fafafa);
}

/* home and search result page Search Box */
.search-box {
    display: flex;
    justify-content: center;
    margin: 1em auto; 
    width: 100%;
    /* margin: 0 auto 20px; */
    box-sizing: border-box;
    padding: 10px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}
@media screen and (min-width: 600px) {
    .search-box {
        width: 50%;
    }
}
.search-box input[type="text"] {
    flex: 1;
    height: 40px;
    font-size: 18px;
    padding: 0 16px;
    border: none;
    border-radius: 25px;
    outline: none;
    background: transparent;
}

.search-box button {
    width: 85px;
    height: 40px;
    font-size: 16px;
    padding: 0;
    border: none;
    border-radius: 0 25px 25px 0; 
    background: linear-gradient(to right, rgba(0, 180, 255, 1), rgba(0, 100, 255, 1));
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box button:hover {
    background: linear-gradient(to right, rgba(0, 160, 255, 1), rgba(0, 80, 255, 1));
}

.search-back-button {
    display: block;
    width: 120px;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    color: #fff;
    background: linear-gradient(to right, rgba(0, 180, 255, 1), rgba(0, 100, 255, 1));
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s ease;
}

.search-back-button:hover {
    background: linear-gradient(to right, rgba(0, 160, 255, 1), rgba(0, 80, 255, 1));
}

/* search result page */
.body-search-results-page {
    display: block;
    min-height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    /* padding: 20px; */
    padding-top: 2.5em;
}

.search-results-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 234px);
    grid-auto-rows: 390px;
    grid-gap: 1.8em;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.search-results-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 234px;  /* 780 / 1170 * 360 ≈ 234 */
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.search-results-list-container h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 1em;

}

.search-results-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-position: center;
    background-size: cover; 
    padding: 1em;
    color: rgb(0, 0, 0);
    width: 100%;
    height: calc(100% - 30px); /* make room for the button */
    box-sizing: border-box;
    z-index: 1;
}

.search-results-add-button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
    height: 20px;
    z-index: 1;
}

.search-results-add-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.watching-show-list-container {
    text-align: center;
    margin-top: 50px;
}

/* home page Watching Shows List */
.watching-show-list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    background: no-repeat center center; 
    background-size: cover; /* Let the background image fill the entire element */
}

.watching-show-item {
    position: relative; /* Set positioning, to add an overlay within */
    /* background: no-repeat center center;  */
    background-size: cover;
    background-position: center;
    background-color: rgba(242, 242, 242, 0.5); /* Set semi-transparent background color */
    border: 0px solid #ddd;
    margin: 0px 0;
    padding: 20px 10px 10px 20px; /* Adjust padding to shift text to the upper left corner */
    text-align: left; 
    color: #ffffff; 
    font-size: 20px; 
    line-height: 0.5;
    font-weight: bold; 
    height: 300px; 
    overflow: hidden; /* Hide overflowing content */
    
}
.watching-show-item h2, .watching-show-item p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.watching-show-item .countdown {
    font-size: 30px;
    color: #ffffff;
    /* background: rgba(0, 0, 0, 0.6); */
    /* margin: 10px; */
    /* padding: 10px; */
    position: relative;
    text-align: left; 
    bottom: 0;
}


.watching-show-item button {
    position: absolute; /* Use absolute positioning */
    top: 12px; /* Place the button at the top of the element */
    right: 10px; /* Place the button to the right of the element */
    padding: 10px 20px; /* Increase padding */
    background-color: rgba(29, 29, 29, 0.2); /* Change background color */
    color: #ffffff; /* Change text color */
    border: none; /* Remove border */
    border-radius: 10px; /* Add border radius */
    font-size: 14px; /* Change font size */
    cursor: pointer; /* Change cursor style */
}

.update-database-button {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #8ab4ef; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px; /* Add border radius to make the button more rounded */
    transition: all 0.3s ease; /* Transition all properties for a smoother animation */
    cursor: pointer;
    margin-top: 10px;
    opacity: 0.8;
}

.update-database-button:hover {
    opacity: 1;
    transform: scale(1); /* Increase the size of the button when hovered */
}

.update-database-button:active {
    opacity: 1;
    transform: scale(0.95); /* Decrease the size of the button when clicked */
}

.user-login-prompt {
    background-color: #f0f0f0;
    color: #333;
    padding: 1em;
    border-radius: 5px;
    margin: 2em 0;
    text-align: center;
}

.user-login-prompt a {
    color: #0066cc;  /* Change the color of the login and register links to a dark blue */
    text-decoration: none;
}

.user-login-prompt a:hover {
    color: #004c99;  /* Darken the color of the login and register links on hover */
}

/* login and register page */
.body-login-page, .body-register-page {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
    padding: 2em;
    text-align: center;
}

.login-form, .register-form {
    display: block;
    max-width: 350px; 
    margin: 1em auto; 
    padding: 20px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}


.login-form input, .register-form input {
    display: block;
    max-width: 500px; 
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding: 0 16px;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    margin-bottom: 1em;
    box-sizing: border-box;
}


.login-button, .register-button {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 25px; 
    background: linear-gradient(to right, rgba(0, 180, 255, 1), rgba(0, 100, 255, 1));
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    color: #ffffff;
}

.login-button:hover, .register-button:hover {
    background: linear-gradient(to right, rgba(0, 160, 255, 1), rgba(0, 80, 255, 1));
}

.login-form-hints {
    line-height: 2;  
}

.register-form-hints {
    line-height: 1.5;  /* Increase the line height */
}

.errorlist {
    list-style-type: none;  /* Remove bullet points */
    padding-left: 0;  /* Remove default padding */
    color: red;  /* Change text color to red */
    font-size: 0.8em;  /* Decrease font size */
    text-align: left;  /* Align text to left */
}