.h1-home {
    text-align: center; 
}

body {
    position: relative;
}

.user-actions {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}

.user-actions a {
    margin-left: 10px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-box input[type="text"] {
    width: 30%;
    height: 25px;
    font-size: 16px;
    padding: 10px;
}

.search-box button {
    height: 25px;
    font-size: 16px;
    padding: 22.5px 20px;
    line-height: 0;
    margin: 0 5px;
}

body.search-results-page {
    display: block;
    min-height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.search-back-button {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 18px;
}

.search-results-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
    grid-auto-rows: 390px;
    grid-gap: 1.2em;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.search-results-item-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 234px;  /* 780 / 1170 * 360 ≈ 234 */
    height: 380px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.search-results-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    background-position: center;
    background-size: cover; 
    padding: 1em;
    color: rgb(0, 0, 0);
    width: 100%;
    height: calc(100% - 30px); /* make room for the button */
    box-sizing: border-box;
    z-index: 1;
}

.search-results-add-button {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 100%;
    height: 20px;
    z-index: 1;
}

.search-results-add-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.watching-show-list-container {
    text-align: center;
}

.watching-show-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: no-repeat center center; 
    background-size: cover; /* Let the background image fill the entire element */
}

.watching-show-item {
    position: relative; /* Set positioning, to add an overlay within */
    /* background: no-repeat center center;  */
    background-size: cover;
    background-position: center;
    background-color: rgba(242, 242, 242, 0.5); /* Set semi-transparent background color */
    border: 0px solid #ddd;
    margin: 0px 0;
    padding: 20px 10px 10px 20px; /* Adjust padding to shift text to the upper left corner */
    text-align: left; /* Set text to align to the left */
    color: #ffffff; /* Change text color */
    font-size: 20px; /* Increase font size */
    line-height: 0.5; /* Increase line height to improve readability */
    font-weight: bold; /* Increase font weight */
    height: 300px; /* Set a fixed height */
    overflow: hidden; /* Hide overflowing content */
    
}

.watching-show-item button {
    position: absolute; /* Use absolute positioning */
    top: 12px; /* Place the button at the top of the element */
    right: 10px; /* Place the button to the right of the element */
    padding: 10px 20px; /* Increase padding */
    background-color: rgba(29, 29, 29, 0.2); /* Change background color */
    color: #ffffff; /* Change text color */
    border: none; /* Remove border */
    border-radius: 10px; /* Add border radius */
    font-size: 14px; /* Change font size */
    cursor: pointer; /* Change cursor style */
}

.update-database-button {
    background-color: #8ab4ef; /* Change to a bright pink */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 25px; /* Add border radius to make the button more rounded */
    transition: all 0.3s ease; /* Transition all properties for a smoother animation */
    cursor: pointer;
    margin-top: 10px;
    opacity: 0.8;
}

.update-database-button:hover {
    opacity: 1;
    transform: scale(1); /* Increase the size of the button when hovered */
}

.update-database-button:active {
    opacity: 1;
    transform: scale(0.95); /* Decrease the size of the button when clicked */
}